/**** Configuração Mobile maximo 768px **********/
@media (max-width: 768px) {
    @supports (position: sticky) {
      navbar .sticky-top {
        position: sticky !important;
      }
    }
    
    .telefoneEmail {
      display: flex;
      flex-direction: column;
      padding-top: 50px !important;
    }

    .navbar {
      padding-top: 40px;
      position: sticky !important;
    }

    .segundoHome{
      display: flex;
      flex-direction: column-reverse;
    }


    #terceiraHome {
      height: 250vh;
    }

    .imgConfig {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    #slideCarousel {
      display: flex;
      flex-direction: column;
      align-items: center;

    }

    .textoTrabalho {
      padding-top: 0px;
      padding-right: 20px;
      padding-left: 10px;
    }

    .titleTrabalho {
      padding-top: 10px;
    }

    #carouselExampleFade {
      margin: 50px 0 40px 5px;
      width: 90vw;
      
    }

    footer {
      height: 140vh;

    }

    footer.endereco {
      padding-top: 50px;
      padding-bottom: 50px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

  }



@media (max-width: 460px) {
    @supports (position: sticky) {
        navbar .sticky-top {
          position: sticky !important;
        }
      }
      
    .sublilhado {
      content: '';
      border-top: 4px solid #FF8000;
      width: 160px;
      display: block;
      margin-bottom: 8px;
      margin: 0 auto 20px;
    }

    .imgTerca {
      width: 220px;
      height: 220px;
      border-radius: 50%;
      border: 2px solid #ff8c00;
    }
  
    .subfigcaption {
      color: white;
      text-transform: uppercase;
      font-size: 1.3rem;
      font-weight: bold;
      text-align: center;
    }

    .col {
      margin-left: 25px;
      margin-right: 70px;
    }

    
    #primeiraHome {
      padding-top: 50px;
    }

    .imgSegundoHome {
      width: 300px;
    }

  
  }