/**** Configuração Mobile maximo 768px **********/
@media (max-width: 639px) {
    @supports (position: sticky) {
      navbar .sticky-top {
        position: sticky !important;
      }
    }
    
    .telefoneEmail {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 30px 0px;
    
    }

    .navbar {
      padding-top: 40px;
      position: sticky !important;
    }

    .segundoHome{
      display: flex;
      flex-direction: column-reverse;
      flex-wrap: wrap !important;
    }


    #terceiraHome {
      height: 280vh;
    }

    .imgConfig {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    #slideCarousel {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-wrap: wrap !important;

    }

    .textoTrabalho {
      padding-top: 0px;
      padding-right: 20px;
      padding-left: 10px;
    }

    .titleTrabalho {
      padding-top: 10px;
    }

    #carouselExampleFade {
      margin: 50px 0 40px 5px;
      width: 90vw;
      
    }

    footer {
      height: 103vh !important;
    }

   
    .logoFooter {
      padding-bottom: 30px;
    }

   

    .spaceFooter {
    padding-bottom: 30px;
    }

    .copyFundo {
      height: 15vh;
    }

    .trabalho {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 200vh;
    }

    .carroselSlide {
      width: 100% !important;
      height: 250px;
    }


  }



@media (max-width: 460px) {
    @supports (position: sticky) {
        navbar .sticky-top {
          position: sticky !important;
        }
      }
      
    .sublilhado {
      content: '';
      border-top: 4px solid #FF8000;
      width: 160px;
      display: block;
      margin-bottom: 8px;
      margin: 0 auto 20px;
    }

    .imgTerca {
      width: 220px;
      height: 220px;
      border-radius: 50%;
      border: 2px solid #ff8c00;
    }
  
    .subfigcaption {
      color: white;
      text-transform: uppercase;
      font-size: 1.3rem;
      font-weight: bold;
      text-align: center;
    }

    .col {
      margin-left: 25px;
      margin-right: 70px;
    }

    
    #primeiraHome {
      padding-top: 50px;
    }

    .imgSegundoHome {
      width: 300px;
    }

    .segundoHome {
      padding-left: 5px !important;
    }

    .trabalho {
      padding-top: 10px !important;
      display: flex;
      height: 140vh;
      flex-direction: column;
    }

    .text-trabalho {
      width: 90%;
      margin: 0 48px !important;
      padding-left: -5px !important;
      padding-top: 10px;
    }

   .whatsapp-link {
    bottom: 15%;
    left: 78%; 
   }

  
  }

  @media (min-width: 640px) and (max-width: 767px) {
   

  .telefoneEmail {
    height: 15vh;
  }

  .logoFooter{
    padding-bottom: 30px ;
  }

  .spaceFooter {
    padding-bottom: 30px;
  }

  .copyFundo {
    height: 20vh;
  }

  #terceiraHome {
    height: 280vh !important;
   
  }

  
  .segundoHome{
    display: flex;
    flex-direction: column-reverse;
  }

  .trabalho {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300vh !important;
  }

  .carroselSlide {
    width: 66% !important;
  }

  .whatsapp-link {
    bottom: 6%;
    left: 87%; 
   }

   footer {
     padding-top: 60px;
     height: 180vh;
     display: flex;
     align-items: center !important;
     flex-direction: column !important;
     justify-content: initial;
     flex-wrap: wrap !important;

   }


}