/*** Configuração Geral *****/
h1, h2, h3, h4, h5, h6, p, button {
  font-family: 'Roboto', sans-serif !important;
}

@supports (position: sticky) {
  navbar .sticky-top {
    position: sticky !important;
  }
}

.sublilhado {
  content: '';
  border-top: 4px solid #FF8000;
  width: 350px;
  display: block;
  margin-bottom: 8px;
  margin: 0 auto 20px;
}

.sublilhadoSegundo {
  content: '';
  border-top: 4px solid #FF8000;
  width: 350px;
  display: block;
  margin-bottom: 8px;
  margin: 0 auto 20px;
}

body {
  background: rgb(231, 230, 225) !important;
  width: 100%;
}
/***** Configuração Header ******/
.telefoneEmail {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  background: #171420;
  padding-right: 30px;
  height: 8vh;
  border-bottom: 2px solid #ff8c00;

}

/***** Configuração ICONS Header  ********/
.bi-telephone-fill {
  color: #ff8c00; 
}

.tel {
  color: white;
  padding-right: 20px;
  font-family: 'Alegreya', serif;
  font-size: 1.rem;
  font-weight: 100;
}

.bi-phone-vibrate-fill {
  color: #ff8c00;
}

.bi-envelope-fill {
  color: #ff8c00;
}

.email {
  text-decoration: none;
}

.email:hover {
  color: rgb(14, 2, 68) !important;
  cursor: pointer;
  transition: 1s all;
}

.envelope {
  color: white;
  font-family: 'Alegreya', serif;
  font-size: 1rem;
  font-weight: 100;
}

/**** Configuração Menu *****/
.cor-fundo {
    background-image: linear-gradient(to bottom, #bb1923 0%, #0f0d1d 80%);
  }

  .logo {
    width: 200px;
  }

  .navbar {
    padding:0px 20px;
  }

  .nav-link {
    color: white !important;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
  }

  .dropdown-menu {
    margin: 10px 0;
    background-image: linear-gradient(to bottom, #bb1923 0%, #0f0d1d 80%);
  }

  .dropdown-item {
    font-size: 1.1rem !important;
    color: white !important;
  }

  .dropdown-item:hover {
    color: #0f0d1d !important;
  }

  button#hamburque {
    border-color:rgb(233, 232, 227) !important;
    border: 1px solid white;
  }

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%289, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
  }

  /****** Primeira seção *********/
  #primeiraHome {
    background-image: url("../img/fundo-porta.png") !important;
    background-repeat: no-repeat;
    background-size: 100% 100% !important;
    width: 100%;
    height: 600px;
    padding-top: 250px;
  }

  .title-principal {
    text-align: center;
    color: white;
    font-size: 3rem;
  }

  .subTitle-principal{
    text-align: center;
    color: white;
  }

 /****** Segunda seção *********/ 
  .segundoHome {
    display: flex;
    align-items: center;
    margin: 30px 20px;
    padding: 20px;
    background: white;
    border-radius: 20px;
  }

  .titleSegundaHome {
    font-weight: 700;
    text-align: center;
  }

  .segundoHome p {
    text-indent: 50px;
    text-align: justify;
  }

  .imgSegundoHome {
    width: 400px;
  }

  /*********** Terçeira seção *********/
  #terceiraHome {
    background: url("../img/fundo-tercaUm.jpg") fixed;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    
  }

  .titleterceiro {
    color: white;
    text-align: center;
    padding-top: 60px;
  }

  .imgTerca {
    width: 250px;
    height: 250px;
    margin: 30px;
    border-radius: 50%;
    border: 2px solid #ff8c00;
  }

  .subfigcaption {
    color: white;
    text-transform: uppercase;
    font-size: 1.3rem;
    text-align: center;
    font-weight: bold;
  }

  
  .servicos {
    margin-left: 20px;
  }

  .expletus {
    font-family: 'Oxanium', cursive;
    font-weight: 300;
    font-size: 4rem;
  }

  /********* Quarta seção **********/
  #carouselExampleFade {
    margin: 50px 0 40px 30px;
    width: 70vw;
    border: none;
    border-radius: 20px;
    box-shadow: 10px 10px 15px rgb(80, 79, 79);
  }
  
  .carousel-inner > .carousel-item > img {
    width: 100%;
    height: 400px;
    border-radius: 10px;
  }
  
  #slideCarousel {
    display: flex;
    background: white;
    margin: 30px 0;
  }

  .textoTrabalho {
    padding-left: 30px;
    padding-top: 60px;
    padding-right: 60px;
  }

  .textoTrabalho > p {
    text-align: justify;
    font-weight: 500;
    font-size: 1.5rem;
    font-family: 'Advent Pro', sans-serif !important;
  }

  .titleTrabalho {
    font-size: 4rem;
    font-weight: 700;
    font-family: 'Advent Pro', sans-serif !important;
  }

  footer {
    background: url("../img/fundo-footer.jpg") fixed;
    background-repeat: no-repeat;
    width: 100%;
    height: 40vh;
    padding: 0 40px;
  }

  .sublilhadoFooter {
    content: '';
  border-top: 2px solid #FF8000;
  width: 14em;
  display: block;
  margin-bottom: 8px;
  margin: 0 auto 20px;
}

  footer.endereco {
    display: flex;
    align-items: center;
  justify-content: space-between;
  }

  footer.endereco  h4 {
    color: white !important;
  }

  footer.endereco span.end {
    color: white;
  }

  .bi-instagram {
    color: #ff8c00;
    font-size: 1.5rem;
    padding-top: -10;
  }
  .bi-instagram:hover {
    cursor: pointer;
    transition: 1s all;
    color: #80450b;
  } 
  

  @media (max-width: 768px) {
    @supports (position: sticky) {
      navbar .sticky-top {
        position: sticky !important;
      }
    }
    
    .telefoneEmail {
      display: flex;
      flex-direction: column;
      padding-top: 50px !important;
    }

    .navbar {
      padding-top: 40px;
      position: sticky !important;
    }

    .segundoHome{
      display: flex;
      flex-direction: column-reverse;
    }


    #terceiraHome {
      height: 250vh;
    }

    .imgConfig {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    #slideCarousel {
      display: flex;
      flex-direction: column;
      align-items: center;

    }

    .textoTrabalho {
      padding-top: 0px;
      padding-right: 20px;
      padding-left: 10px;
    }

    .titleTrabalho {
      padding-top: 10px;
    }

    #carouselExampleFade {
      margin: 50px 0 40px 5px;
      width: 90vw;
      
    }

    footer {
      height: 140vh;

    }

    footer.endereco {
      padding-top: 50px;
      padding-bottom: 50px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

  }

  @media (max-width: 460px) {
    .sublilhado {
      content: '';
      border-top: 4px solid #FF8000;
      width: 160px;
      display: block;
      margin-bottom: 8px;
      margin: 0 auto 20px;
    }

    .imgTerca {
      width: 220px;
      height: 220px;
      border-radius: 50%;
      border: 2px solid #ff8c00;
    }
  
    .subfigcaption {
      color: white;
      text-transform: uppercase;
      font-size: 1.3rem;
      font-weight: bold;
      text-align: center;
    }

    .col {
      margin-left: 25px;
      margin-right: 70px;
    }

    
    #primeiraHome {
      padding-top: 50px;
    }

    .imgSegundoHome {
      width: 300px;
    }

  
  }

  