/*** Configuração Geral *****/
h1, h2, h3, h4, h5, h6, p, button {
  font-family: 'Roboto', sans-serif !important;
}

@supports (position: sticky) {
  navbar .sticky-top {
    position: sticky !important;
    position:-webkit-sticky !important;
  }
}


.sublilhado {
  content: '';
  border-top: 4px solid #FF8000;
  width: 350px;
  display: block;
  margin-bottom: 8px;
  margin: 0 auto 20px;
}

.sublilhadoSegundo {
  content: '';
  border-top: 4px solid #FF8000;
  width: 350px;
  display: block;
  margin-bottom: 8px;
  margin: 0 auto 20px;
}

body {
  background: rgb(231, 230, 225) !important;
 

}
/***** Configuração Header ******/
.telefoneEmail {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  background: #171420;
  padding-right: 30px;
  height: 8vh;
  border-bottom: 2px solid #ff8c00;

}

/***** Configuração ICONS Header  ********/
.bi-telephone-fill {
  color: #ff8c00; 
}

.tel {
  color: white;
  padding-right: 20px;
  font-family: 'Alegreya', serif;
  font-size: 1rem;
  font-weight: 100;
}

.bi-phone-vibrate-fill {
  color: #ff8c00;
}

.bi-envelope-fill {
  color: #ff8c00;
}

.email:hover {
  color: white;
  cursor: pointer;
  transition: 1s all;
}

.envelope {
  color: white;
  font-family: 'Alegreya', serif;
  font-size: 1.2rem;
  font-weight: 100;
}

/**** Configuração Menu *****/
.cor-fundo {
    background-image: linear-gradient(to bottom, #bb1923 0%, #0f0d1d 80%);
  }

  .logo {
    width: 200px;
  }

  .navbar {
    padding:0px 20px;
  }

  .nav-link {
    color: white !important;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
  }

  .dropdown-menu {
    margin: 10px 0;
    background-image: linear-gradient(to bottom, #bb1923 0%, #0f0d1d 80%);
  }

  .dropdown-item {
    font-size: 1.1rem !important;
    color: white !important;
  }

  .dropdown-item:hover {
    color: #0f0d1d !important;
  }

  button#hamburque {
    border-color:rgb(233, 232, 227) !important;
    border: 1px solid white;
  }

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%289, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
  }

  /****** Primeira seção *********/
  #primeiraHome {
    background-image: url("../img/fundo-porta.png") !important;
    background-repeat: no-repeat;
    background-size: 100% 100% !important;
    width: 100%;
    height: 600px;
    padding-top: 250px;
  }

  .title-principal {
    text-align: center;
    color: white;
    font-size: 3rem;
  }

  .subTitle-principal{
    text-align: center;
    color: white;
  }

 /****** Segunda seção *********/ 
  .segundoHome {
    display: flex;
    align-items: center;
    margin: 30px 20px;
    padding: 20px;
    background: white;
    border-radius: 20px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.7); 
    border: none; 
  }

  .titleSegundaHome {
    font-weight: 700;
    text-align: center;
  }

  .segundoHome p {
    text-indent: 50px;
    text-align: justify;
  }

  .imgSegundoHome {
    width: 400px;
  }

  /*********** Terçeira seção *********/
  #terceiraHome {
    background: url("../img/fundo-tercaUm.jpg") fixed !important;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    overflow-wrap: normal;
    overflow: hidden;
  }

  .titleterceiro {
    color: white;
    text-align: center;
    padding-top: 60px;
  }

  .imgTerca {
    width: 250px;
    height: 250px;
    margin: 30px;
    border-radius: 50%;
    border: 2px solid #ff8c00;
  }

  .subfigcaption {
    color: white;
    text-transform: uppercase;
    font-size: 1.3rem;
    text-align: center;
    font-weight: bold;
  }

  
  .servicos {
    margin-left: 20px;
  }

  .expletus {
    font-family: 'Oxanium', cursive;
    font-weight: 300;
    font-size: 4rem;
  }

  /********* Quarta seção **********/
  .carroselSlide {
    margin: 50px 40px;
    width: 400px !important;
    height: 250px !important;
    border: none;
    overflow: hidden; 
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.7);
    border-radius: 10px;
  }

  .carroselSlide ul  {
    padding-left: 0px !important;
    padding-right: 0px !important;
    display: flex;
   list-style: none;
   width: 100%;
   height: 250px !important;
   
  }

  .carroselSlide li {
    position: relative;
    animation: slide 15s infinite ease-out;
  }

  .carroselSlide li img {
    width: 420px;
    height: 250px;
  }


  @keyframes slide {
    0%{left: -0px; opacity: 0}
    10%{left: 0px; opacity: 1}

    30%{left:-440px}
    40%{left:-440px}

    50%{left:-840px}
    60%{left:-840px}

    70%{left:-1260px}
    80%{left:-1260px}

    90%{left:-1660px}
    100%{left:-1660px}

    110%{left:-2040px}
    120%{left:-2040px}

    130%{left:-2480px}
    140%{left:-2480px}

    140%{left:0px}
  }

.trabalho {
  display: flex;
  width: 98% !important;
  justify-content: center;
  background-color: white;
  height: 60vh;
  margin: 40px auto !important;
  box-shadow: 10px 10px 13px rgba(0, 0, 0, 0.7); 
  border: none; 
  border-radius: 10px;
}

.text-trabalho {
  width: 50%;
  padding-top: 45px;
}

.text-trabalho h1 {
  font-weight: 700;
  font-size: 3rem;

}

.text-trabalho h5 {
  font-size: 2rem;
}

.text-trabalho p {
  font-weight: 100;
  font-size: 1.2rem;
  text-align: justify;
}

 
/********** Configuração Footer *********/
  footer {
    background: url("../img/fundo-footer.jpg") fixed;
    background-repeat: no-repeat;
    width: 100%;
    height: 50vh;
    padding: 0 40px;
  }

 

  .sublilhadoFooter {
    content: '';
    border-top: 4px solid #FF8000;
    width: 17em;
    display: block;
    margin-bottom: 8px;
  }
  

   .endereco h4, 
  .end,
  .emailFooter, 
  .telFooter, 
  .envelopeFooter {
    color: white;
    transition: 0.5s all;
  }
  
  .emailFooter:hover {
    color: white; 
  }

 
  
  .copyFundo {
    background-color: #000;
    width: 100% !important;
    height: 10vh;
  }

  .copy {
    text-align: center !important;
    padding-top: 20px;
    color: white;
    
  }

  .whatsapp-link {
    position: fixed;
    bottom: 2%;
    left: 93%;
    z-index: 1000 !important;

      width: 60px;
      height: 60px;
      background-color: #25d366;
			color: #fff;
      border-radius: 50px;
      border: 4px solid #fff;
			text-align: center;
      padding-top: 4px;
			font-size: 30px;
			box-shadow: 1px 1px 2px #888;
      transition: 0.5s all;   
  }
 

 
  

  